

.idli {
    padding: 50px 10px 10px 10px;
    border: 1px solid black;
    width: 500px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-color: lightblue;
}

.panyaram {
    padding: 50px 10px 10px 10px;
    border: 1px solid black;
    width: 500px;
    float: left;
    margin-left: 10px; 
    margin-top: 10px;
    background-color: lightblue;
}

.dosa {
    padding: 50px 10px 10px 10px;
    border: 1px solid black;
    width: 550px;
    float: left;
    margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
    background-color: lightblue;
}

#parent-div{
 text-align: left;
 border: 1px solid black;
}
.dosa{
background-color: lightcoral;
}
.panyaram{
    background-color: rgb(24, 121, 211);
}
.idli{
background-color: lightgrey;
}


.heading{
float: right;
position: relative;
bottom: 55px;
left: 3px;
border: 1px solid black;
padding: 40px;
position: relative;
top: -65px;
}



h1{
    text-align: center;
}


@media(min-width:992px){
    
    #idli {
        padding:50px 10px 10px 10px;
        border: 1px solid black;
        margin-top: 10px;
        width: 30%;
    }
    
    #panyaram {
        padding: 50px 10px 10px 10px;
        border: 1px solid black;
        margin-top: 10px;
        width: 30%;
    }
    
    #dosa {
        padding: 50px 10px 10px 10px;
        border: 1px solid black;
        margin-top: 10px;
        width: 30%;
    }
    }
     @media (min-width:768px) and (max-width:991px) {
        
    #idli {
        padding: 50px 10px 10px 10px;
        border: 1px solid black;
        margin-top: 10px;
        width: 45%;
    }
   
    #panyaram {
        padding: 50px 10px 10px 10px;
        border: 1px solid black;
        margin-top: 10px;
        width: 45%;
    }
    
    #dosa {
        padding: 50px 10px 10px 10px;
        border: 1px solid black;
        margin-top: 10px;
        width: 90%;
    }
     }
    
     @media (max-width: 767px) {
        
         #idli {
            padding: 50px 10px 10px 10px;
            border: 1px solid black;
            width: 90%;
            margin-top: 10px;
        }
        
        #panyaram {
            padding: 50px 10px 10px 10px;
            border: 1px solid black;
            width: 90%;
            margin-top: 10px;
        }
        
        #dosa {
            padding: 50px 10px 10px 10px;
            border: 1px solid black;
            width: 90%;
            margin-top: 10px;
        }
     }


